<html>
<head>
<style>
    body {
        background-image: url(https://wallpaperaccess.com/full/2579667.jpg);
        background-position: center;
    margin: auto;
    max-width: 350px;
    padding-top: 48px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;}
    h1 {text-align: center;}
    
    .email{
    color: rgb(10, 127, 190);
    padding-left: 27px;
    font-size: large;
    }
    .submit{
        text-align: center;
        padding-right: 65px;
    }
</style> 
<title>Email Spam Detector</title>
</head>
<h1 style="color:rgb(1, 8, 8)">Email spam Classifier</h1>
<body>
<form method="post">
{%csrf_token%}
<div class="email">{{form.as_p}}</div>
<div class="submit"><input type="submit" value="submit" ></div>
</form>
{% if status %}
<h2>Status : {{status}}</h2>
{% endif %}
</body>
</html>